{
  "root": true,
  "env": {
    "browser": true,
    "es2020": true,
    "node": true
  },
  "extends": ["@apify/eslint-config-ts", "plugin:tailwindcss/recommended"],
  "parserOptions": {
    "project": "./tsconfig.json",
    "ecmaVersion": 2020
  },
  "ignorePatterns": ["node_modules", "dist", "**/*.d.ts"],
  "settings": {
    "tailwindcss": {
      // These are the default values but feel free to customize
      "callees": ["classnames", "clsx", "ctl", "class"],
      "config": "tailwind.config.js", // returned from `loadConfig()` utility if not provided
      "cssFiles": [
        "**/*.css",
        "**/*.ejs",
        "!**/node_modules",
        "!**/.*",
        "!**/dist",
        "!**/build"
      ],
      "cssFilesRefreshRate": 5000,
      "removeDuplicates": true,
      "skipClassAttribute": false,
      "whitelist": [],
      "tags": [], // can be set to e.g. ['tw'] for use in tw`bg-blue`
      "classRegex": "^class" // can be modified to support custom attributes. E.g. "^tw$" for `twin.macro`
    }
  }
}
