<div data-uid="<%= uid %>" id="action" class="z-[40] fixed top-8 left-7">
  <i
    class="fa-solid fa-link fa-2xl text-white font-bold rounded-full shadow-xl bg-orange-400 p-2 cursor-pointer"
  ></i>
</div>

<div
  id="cvActionModal"
  class="transUpdatePanelHide transition-all fixed w-[90vw] lg:w-[60vw] left-[10vw] lg:left-[20vw] h-[90vh] top-[5vh] bg-gray-950 rounded-md z-50 overflow-y-hidden p-2"
>
  <div class="flex w-full justify-between p-2">
    <div></div>
    <div id="closeCvActionModal" class="z-50 cursor-pointer">
      <i class="fa-solid fa-xmark fa-2xl text-white"></i>
    </div>
  </div>
  <div class=" w-full h-4 flex rounded-md mb-3">
    <div data-index="1" class=" zapping-btn w-[50%] h-full bg-orange-500  cursor-pointer transition-all rounded-l-md"></div>
    <div data-index="2" class=" zapping-btn w-[50%] h-full bg-white  cursor-pointer transition-all rounded-r-md"></div>
  </div>
  <div class="absolute w-full h-full overflow-x-hidden">
    <div id="translatorParent" class="w-full flex h-full items-stretch transition-all">
      <div data-translate="0" id="translatorFirst" class=" w-full flex-none self-auto overflow-y-scroll p-3">
        <h1 class=" text-orange-500 font-bold text-2xl">Accedez aux données de votre CV</h1>
        <div id="ressourceLoader" class=" w-full flex justify-center items-center gap-x-3 text-white mt-4">
          Chargement en cours veuillez patienter
          <span class="loading loading-spinner loading-lg bg-orange-500 text-center"></span>
        </div>
      </div>
      <div data-translate="100" id="translatorSecond" class=" w-full flex-none self-auto overflow-y-scroll p-3">
        <h1 class=" text-orange-500 font-bold text-2xl">Modifiez votre CV</h1>
        <span class=" text-white">Notez que ces modification peuvent vous coûter du crédit si vous n'ètes pas un abonné premium</span>
        <div class=" w-full flex gap-4 mt-3">
          <button id="changeTheme" class="btn bg-orange-500 text-white border-none hover:bg-white hover:text-orange-500">Changer de Theme</button>
          <button id="formModifierBtn" class="btn bg-orange-500 text-white border-none hover:bg-white hover:text-orange-500">Formulaire</button>
        </div>
        <div id="assetEl" class=" w-full mt-4"></div>
      </div>
    </div>
  </div>
</div>