</body>
<script type="module" src="/static/script/shared.js"></script>
<script type="module" src="/static/script/notifications.js"></script>
<script type="module" src="/static/all.min.js"></script>
<script type="module" src="/static/script/network.js"></script>
</html>