<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta
      name="author"
      content="This website is powered by <a href='https://github.com/DoniLite'>Doni Lite</a> and contributors"
    />
    <meta name="creator" content="Doni Lite" />
    <link rel="stylesheet" href="/static/all.min.css" />
    <link rel="icon" type="image/svg+xml" href="/static/SVG/gostify.svg" />
    <link rel="stylesheet" href="/static/output.css" />
    <script type="module" src="/static/script/searcher.js"></script>
    <%- include('h') %>
  </head>

  <body class="w-full">
    <div
      id="mobileSiteIcon"
      class="transition-all lg:hidden fixed left-2 sm:top-4 top-2 z-40"
    >
      <div class="flex flex-col justify-center h-full items-center">
        <h1 class="text-xl text-bold text-white cookie-regular bg-transparent">
          Ghostify
        </h1>
        <img src="/static/SVG/gostify.svg" class="w-6 h-6" alt="" />
      </div>
    </div>
    <div
      id="searcher"
      class="transition-all fixed flex flex-col xl:top-6 lg:top-16 right-2 top-12 sm:top-20 lg:left-[13%] lg:w-1/3 w-[55%] z-50"
    >
      <div
        class="flex justify-between items-center rounded-md shadow-sm sm:text-sm border-gray-700 bg-gray-800 text-white px-3"
      >
        <input
          type="text"
          id="PrimarySearch"
          placeholder="Trouvons quelque chose..."
          class="w-full bg-transparent py-2.5 pe-10 text-xs outline-none"
        />

        <span>
          <svg
            xmlns="http://www.w3.org/2000/svg"
            fill="none"
            viewBox="0 0 24 24"
            stroke-width="1.5"
            stroke="currentColor"
            class="h-4 w-4"
          >
            <path
              stroke-linecap="round"
              stroke-linejoin="round"
              d="M21 21l-5.197-5.197m0 0A7.5 7.5 0 105.196 5.196a7.5 7.5 0 0010.607 10.607z"
            />
          </svg>
        </span>
      </div>
      <div
        id="containerPaser"
        class="w-full p-3 rounded-sm bg-gray-700 text-white font-bold hidden flex-col gap-y-3"
      >
        <div id="searchLoader" class="justify-center w-full hidden">
          <svg
            stroke="currentColor"
            fill="currentColor"
            stroke-width="0"
            viewBox="0 0 24 24"
            class="animate-spin w-4 h-4"
            xmlns="http://www.w3.org/2000/svg"
          >
            <path
              d="M12 2C17.5228 2 22 6.47715 22 12C22 17.5228 17.5228 22 12 22C6.47715 22 2 17.5228 2 12C2 6.47715 6.47715 2 12 2ZM13.6695 15.9999H10.3295L8.95053 17.8969L9.5044 19.6031C10.2897 19.8607 11.1286 20 12 20C12.8714 20 13.7103 19.8607 14.4956 19.6031L15.0485 17.8969L13.6695 15.9999ZM5.29354 10.8719L4.00222 11.8095L4 12C4 13.7297 4.54894 15.3312 5.4821 16.6397L7.39254 16.6399L8.71453 14.8199L7.68654 11.6499L5.29354 10.8719ZM18.7055 10.8719L16.3125 11.6499L15.2845 14.8199L16.6065 16.6399L18.5179 16.6397C19.4511 15.3312 20 13.7297 20 12L19.997 11.81L18.7055 10.8719ZM12 9.536L9.656 11.238L10.552 14H13.447L14.343 11.238L12 9.536ZM14.2914 4.33299L12.9995 5.27293V7.78993L15.6935 9.74693L17.9325 9.01993L18.4867 7.3168C17.467 5.90685 15.9988 4.84254 14.2914 4.33299ZM9.70757 4.33329C8.00021 4.84307 6.53216 5.90762 5.51261 7.31778L6.06653 9.01993L8.30554 9.74693L10.9995 7.78993V5.27293L9.70757 4.33329Z"
            ></path>
          </svg>
        </div>
      </div>
    </div>
    <nav class="mobile-nav -translate-x-full text-gray-400">
      <ul class="flex flex-col gap-4 w-full">
        <div class="close-btn absolute right-3">
          <i class="fa-solid fa-xmark fa-lg"></i>
        </div>
        <li
          class="flex items-center font-bold text-red-950 cursor-pointer hover:text-red-950 transition-all"
        >
          <a href="/">
            <i class="fa-solid fa-ghost mr-3"></i>
            <% if (typeof auth !== 'undefined' && auth === true) { %> Me <% }
            else { %> Ghost <% } %>
          </a>
        </li>
        <li
          class="flex items-center font-bold cursor-pointer hover:text-red-950 transition-all"
        >
          <a href="/projects">
            <i class="fa-solid fa-diagram-project mr-3"></i>
            Projects
          </a>
        </li>
        <li
          class="flex items-center font-bold cursor-pointer hover:text-red-950 transition-all"
        >
          <a href="/hub">
            <i class="fa-solid fa-at mr-3"></i>
            Meta-Hub
          </a>
        </li>
        <li
          class="flex items-center font-bold cursor-pointer hover:text-red-950 transition-all"
        >
          <a href="/blog">
            <i class="fa-solid fa-blog mr-3"></i>
            Blog
          </a>
        </li>
        <li
          class="flex items-center font-bold cursor-pointer hover:text-red-950 transition-all"
        >
          <a href="/api-gaming">
            <i class="fa-solid fa-flask-vial mr-3"></i>
            APIs & GAMES
          </a>
        </li>
        <li
          class="flex items-center font-bold cursor-pointer hover:text-red-950 transition-all"
        >
          <a href="/contact">
            <i class="fa-solid fa-mug-saucer mr-3"></i>
            Contact
          </a>
        </li>
      </ul>
    </nav>
    <div
      class="lg:hidden bg-transparent transition-all flex gap-x-4 fixed sm:right-8 md:right-10 md:top-8 right-4 top-4 z-50"
    >
      <% if (typeof auth !== 'undefined' && auth === true) { %>
      <div id="ghostifyPowerMob" class="w-8 transition-all">
        <i class="fa-solid fa-power-off fa-lg text-white"></i>
      </div>
      <% } %>
      <div class="w-8 mobile-nav-icon transition-all">
        <div class="w-full h-1 rounded-xl bg-white mb-1"></div>
        <div class="w-full h-1 rounded-xl bg-white mb-1"></div>
        <div class="w-full h-1 rounded-xl bg-white mb-1"></div>
      </div>
    </div>
    <nav
      class="default-nav transition-all w-full h-20 bg-transparent text-gray-400 lg:flex p-3 items-center justify-between hidden fixed top-0 z-10"
    >
      <div
        id="officialIcon"
        class="flex flex-col p-5 justify-center h-full items-center transition-all mt-10"
      >
        <h1 class="text-4xl text-bold cookie-regular bg-transparent">
          Ghostify
        </h1>
        <img src="/static/SVG/gostify.svg" class="w-12 h-12" alt="" />
      </div>
      <ul class="flex justify-between w-2/4 items-center pr-16">
        <li
          class="flex items-center font-bold text-red-950 justify-center cursor-pointer hover:text-red-950 transition-all"
        >
          <a href="/">
            <i class="fa-solid fa-ghost mr-1"></i>
            <% if (typeof auth !== 'undefined' && auth === true) { %> Me <% }
            else { %> Ghost <% } %>
          </a>
        </li>
        <li
          class="flex items-center font-bold justify-center cursor-pointer hover:text-red-950 transition-all"
        >
          <a href="/projects">
            <i class="fa-solid fa-diagram-project mr-1"></i>
            Projects
          </a>
        </li>
        <li
          class="flex items-center font-bold justify-center cursor-pointer hover:text-red-950 transition-all"
        >
          <a href="/hub">
            <i class="fa-solid fa-at mr-1"></i>
            Meta-Hub
          </a>
        </li>
        <li
          class="flex items-center font-bold justify-center cursor-pointer hover:text-red-950 transition-all"
        >
          <a href="/blog">
            <i class="fa-solid fa-blog mr-1"></i>
            Blog
          </a>
        </li>
        <li
          class="flex items-center font-bold justify-center cursor-pointer hover:text-red-950 transition-all"
        >
          <a href="/api-gaming">
            <i class="fa-solid fa-flask-vial mr-1"></i>
            APIs & Games
          </a>
        </li>
        <li
          class="flex items-center font-bold justify-center cursor-pointer hover:text-red-950 transition-all"
        >
          <a href="/contact">
            <i class="fa-solid fa-mug-saucer mr-1"></i>
            Contact
          </a>
        </li>
        <% if (typeof auth !== 'undefined' && auth === true) { %>
        <li
          id="ghostifyPower"
          class="flex items-center font-bold justify-center cursor-pointer hover:text-red-950 transition-all w-8 relative left-4 z-50"
        >
          <i class="fa-solid fa-power-off fa-lg text-white"></i>
        </li>
        <% } %>
      </ul>
    </nav>
    <div id="flash" class="toast toast-top toast-center top-[10rem]">
    </div>
<script type="module" src="/static/script/notifications.js"></script>