<a
  href="<%= toplink.url %>"
  onmouseover=""
  class=" overflow-hidden bg-white text-gray-600 rounded-md p-[2px] font-bold flex-none"
  id="topLink"
  id="matchedLink"
>
<div id="linkLoader" class=" hidden absolute lg:min-w-60 lg:h-96 rounded-xl bg-gray-600"></div>
<div class="flex">
  <i class="fa-solid fa-link fa-lg"></i>
  <%= toplink.name %>
</div>
</a>
<script type="module" src="/static/script/links.js"></script>
