<div
  class="w-full overflow-y-scroll h-full bg-gradient-to-br from-green-100 via-blue-300 to-purple-300 text-white"
>
  <div class="bg-transparent py-24 sm:py-32">
    <div class="mx-auto max-w-full px-6 lg:px-8">
      <div class="mx-auto max-w-full lg:mx-0">
        <div class="lg:flex lg:justify-between block">
          <h2 class="text-3xl font-bold tracking-tight text-white sm:text-4xl">
            Doni Blog
          </h2>

          <div class="relative lg:w-1/3 w-full">
            <label for="Search" class="sr-only"> Search for... </label>

            <input
              type="text"
              id="Search"
              placeholder="rechercher un article..."
              class="w-full rounded-md border-gray-200 py-2.5 pe-10 shadow-sm sm:text-sm dark:border-gray-700 dark:bg-gray-800 dark:text-white px-3"
            />

            <span
              class="absolute inset-y-0 end-0 grid w-10 place-content-center"
            >
              <button
                type="button"
                class="text-gray-600 hover:text-gray-700 dark:text-gray-400 dark:hover:text-gray-300"
              >
                <span class="sr-only">Search</span>

                <svg
                  xmlns="http://www.w3.org/2000/svg"
                  fill="none"
                  viewBox="0 0 24 24"
                  stroke-width="1.5"
                  stroke="currentColor"
                  class="h-4 w-4"
                >
                  <path
                    stroke-linecap="round"
                    stroke-linejoin="round"
                    d="M21 21l-5.197-5.197m0 0A7.5 7.5 0 105.196 5.196a7.5 7.5 0 0010.607 10.607z"
                  />
                </svg>
              </button>
            </span>
          </div>
        </div>
        <p class="mt-2 text-lg leading-8 max-w-2xl text-white w-full">
          Bienvenue dans le monde fascinant de la programmation et des
          technologies modernes. Que vous soyez un développeur expérimenté ou
          novice passionné, vous trouverez ici des articles enrichissants, des
          tutoriels pratiques, et des astuces pour améliorer vos compétences!...
          Ou votre savoir tout simplement
        </p>
      </div>
      <h1 class="text-center text-2xl mt-6 font-bold">
       Les plus consultés...
      </h1>
      <div
        class="mx-auto grid max-w-2xl grid-cols-1 gap-x-8 gap-y-16 border-t border-gray-200 pt-10 sm:mt-4 sm:pt-16 lg:mx-0 lg:max-w-none lg:grid-cols-3"
      >
        <article
          class="hover:animate-background rounded-xl bg-gradient-to-r from-green-300 via-blue-500 to-purple-600 p-0.5 shadow-xl transition hover:bg-[length:400%_400%] hover:shadow-sm hover:[animation-duration:_4s] dark:shadow-gray-700/25"
        >
          <div
            class="rounded-[10px] bg-white p-4 !pt-20 sm:p-6 dark:bg-gray-900"
          >
            <time
              datetime="2022-10-10"
              class="block text-xs text-gray-500 dark:text-gray-400"
            >
              10th Oct 2022
            </time>

            <a href="#">
              <h3
                class="mt-0.5 text-lg font-medium text-gray-900 dark:text-white"
              >
                How to center an element using JavaScript and jQuery
              </h3>
            </a>

            <div class="mt-4 flex flex-wrap gap-1">
              <span
                class="whitespace-nowrap rounded-full bg-purple-100 px-2.5 py-0.5 text-xs text-purple-600 dark:bg-purple-600 dark:text-purple-100"
              >
                Snippet
              </span>

              <span
                class="whitespace-nowrap rounded-full bg-purple-100 px-2.5 py-0.5 text-xs text-purple-600 dark:bg-purple-600 dark:text-purple-100"
              >
                JavaScript
              </span>
            </div>
          </div>
        </article>

        <article
          class="hover:animate-background rounded-xl bg-gradient-to-r from-green-300 via-blue-500 to-purple-600 p-0.5 shadow-xl transition hover:bg-[length:400%_400%] hover:shadow-sm hover:[animation-duration:_4s] dark:shadow-gray-700/25"
        >
          <div
            class="rounded-[10px] bg-white p-4 !pt-20 sm:p-6 dark:bg-gray-900"
          >
            <time
              datetime="2022-10-10"
              class="block text-xs text-gray-500 dark:text-gray-400"
            >
              10th Oct 2022
            </time>

            <a href="#">
              <h3
                class="mt-0.5 text-lg font-medium text-gray-900 dark:text-white"
              >
                How to center an element using JavaScript and jQuery
              </h3>
            </a>

            <div class="mt-4 flex flex-wrap gap-1">
              <span
                class="whitespace-nowrap rounded-full bg-purple-100 px-2.5 py-0.5 text-xs text-purple-600 dark:bg-purple-600 dark:text-purple-100"
              >
                Snippet
              </span>

              <span
                class="whitespace-nowrap rounded-full bg-purple-100 px-2.5 py-0.5 text-xs text-purple-600 dark:bg-purple-600 dark:text-purple-100"
              >
                JavaScript
              </span>
            </div>
          </div>
        </article>

        <article
          class="hover:animate-background rounded-xl bg-gradient-to-r from-green-300 via-blue-500 to-purple-600 p-0.5 shadow-xl transition hover:bg-[length:400%_400%] hover:shadow-sm hover:[animation-duration:_4s] dark:shadow-gray-700/25"
        >
          <div
            class="rounded-[10px] bg-white p-4 !pt-20 sm:p-6 dark:bg-gray-900"
          >
            <time
              datetime="2022-10-10"
              class="block text-xs text-gray-500 dark:text-gray-400"
            >
              10th Oct 2022
            </time>

            <a href="#">
              <h3
                class="mt-0.5 text-lg font-medium text-gray-900 dark:text-white"
              >
                How to center an element using JavaScript and jQuery
              </h3>
            </a>

            <div class="mt-4 flex flex-wrap gap-1">
              <span
                class="whitespace-nowrap rounded-full bg-purple-100 px-2.5 py-0.5 text-xs text-purple-600 dark:bg-purple-600 dark:text-purple-100"
              >
                Snippet
              </span>

              <span
                class="whitespace-nowrap rounded-full bg-purple-100 px-2.5 py-0.5 text-xs text-purple-600 dark:bg-purple-600 dark:text-purple-100"
              >
                JavaScript
              </span>
            </div>
          </div>
        </article>

        <!-- More posts... -->
      </div>

      <div
        class="mx-auto grid max-w-2xl grid-cols-1 gap-x-8 gap-y-16 border-t pt-10 border-gray-200 sm:mt-8 sm:pt-16 lg:mx-0 lg:max-w-none lg:grid-cols-3"
      >
        <article
          class="hover:animate-background rounded-xl bg-gradient-to-r from-green-300 via-blue-500 to-purple-600 p-0.5 shadow-xl transition hover:bg-[length:400%_400%] hover:shadow-sm hover:[animation-duration:_4s] dark:shadow-gray-700/25"
        >
          <div
            class="rounded-[10px] bg-white p-4 !pt-20 sm:p-6 dark:bg-gray-900"
          >
            <time
              datetime="2022-10-10"
              class="block text-xs text-gray-500 dark:text-gray-400"
            >
              10th Oct 2022
            </time>

            <a href="#">
              <h3
                class="mt-0.5 text-lg font-medium text-gray-900 dark:text-white"
              >
                How to center an element using JavaScript and jQuery
              </h3>
            </a>

            <div class="mt-4 flex flex-wrap gap-1">
              <span
                class="whitespace-nowrap rounded-full bg-purple-100 px-2.5 py-0.5 text-xs text-purple-600 dark:bg-purple-600 dark:text-purple-100"
              >
                Snippet
              </span>

              <span
                class="whitespace-nowrap rounded-full bg-purple-100 px-2.5 py-0.5 text-xs text-purple-600 dark:bg-purple-600 dark:text-purple-100"
              >
                JavaScript
              </span>
            </div>
          </div>
        </article>

        <article
          class="hover:animate-background rounded-xl bg-gradient-to-r from-green-300 via-blue-500 to-purple-600 p-0.5 shadow-xl transition hover:bg-[length:400%_400%] hover:shadow-sm hover:[animation-duration:_4s] dark:shadow-gray-700/25"
        >
          <div
            class="rounded-[10px] bg-white p-4 !pt-20 sm:p-6 dark:bg-gray-900"
          >
            <time
              datetime="2022-10-10"
              class="block text-xs text-gray-500 dark:text-gray-400"
            >
              10th Oct 2022
            </time>

            <a href="#">
              <h3
                class="mt-0.5 text-lg font-medium text-gray-900 dark:text-white"
              >
                How to center an element using JavaScript and jQuery
              </h3>
            </a>

            <div class="mt-4 flex flex-wrap gap-1">
              <span
                class="whitespace-nowrap rounded-full bg-purple-100 px-2.5 py-0.5 text-xs text-purple-600 dark:bg-purple-600 dark:text-purple-100"
              >
                Snippet
              </span>

              <span
                class="whitespace-nowrap rounded-full bg-purple-100 px-2.5 py-0.5 text-xs text-purple-600 dark:bg-purple-600 dark:text-purple-100"
              >
                JavaScript
              </span>
            </div>
          </div>
        </article>

        <article
          class="hover:animate-background rounded-xl bg-gradient-to-r from-green-300 via-blue-500 to-purple-600 p-0.5 shadow-xl transition hover:bg-[length:400%_400%] hover:shadow-sm hover:[animation-duration:_4s] dark:shadow-gray-700/25"
        >
          <div
            class="rounded-[10px] bg-white p-4 !pt-20 sm:p-6 dark:bg-gray-900"
          >
            <time
              datetime="2022-10-10"
              class="block text-xs text-gray-500 dark:text-gray-400"
            >
              10th Oct 2022
            </time>

            <a href="#">
              <h3
                class="mt-0.5 text-lg font-medium text-gray-900 dark:text-white"
              >
                How to center an element using JavaScript and jQuery
              </h3>
            </a>

            <div class="mt-4 flex flex-wrap gap-1">
              <span
                class="whitespace-nowrap rounded-full bg-purple-100 px-2.5 py-0.5 text-xs text-purple-600 dark:bg-purple-600 dark:text-purple-100"
              >
                Snippet
              </span>

              <span
                class="whitespace-nowrap rounded-full bg-purple-100 px-2.5 py-0.5 text-xs text-purple-600 dark:bg-purple-600 dark:text-purple-100"
              >
                JavaScript
              </span>
            </div>
          </div>
        </article>

        <article
          class="hover:animate-background rounded-xl bg-gradient-to-r from-green-300 via-blue-500 to-purple-600 p-0.5 shadow-xl transition hover:bg-[length:400%_400%] hover:shadow-sm hover:[animation-duration:_4s] dark:shadow-gray-700/25"
        >
          <div
            class="rounded-[10px] bg-white p-4 !pt-20 sm:p-6 dark:bg-gray-900"
          >
            <time
              datetime="2022-10-10"
              class="block text-xs text-gray-500 dark:text-gray-400"
            >
              10th Oct 2022
            </time>

            <a href="#">
              <h3
                class="mt-0.5 text-lg font-medium text-gray-900 dark:text-white"
              >
                How to center an element using JavaScript and jQuery
              </h3>
            </a>

            <div class="mt-4 flex flex-wrap gap-1">
              <span
                class="whitespace-nowrap rounded-full bg-purple-100 px-2.5 py-0.5 text-xs text-purple-600 dark:bg-purple-600 dark:text-purple-100"
              >
                Snippet
              </span>

              <span
                class="whitespace-nowrap rounded-full bg-purple-100 px-2.5 py-0.5 text-xs text-purple-600 dark:bg-purple-600 dark:text-purple-100"
              >
                JavaScript
              </span>
            </div>
          </div>
        </article>

        <article
          class="hover:animate-background rounded-xl bg-gradient-to-r from-green-300 via-blue-500 to-purple-600 p-0.5 shadow-xl transition hover:bg-[length:400%_400%] hover:shadow-sm hover:[animation-duration:_4s] dark:shadow-gray-700/25"
        >
          <div
            class="rounded-[10px] bg-white p-4 !pt-20 sm:p-6 dark:bg-gray-900"
          >
            <time
              datetime="2022-10-10"
              class="block text-xs text-gray-500 dark:text-gray-400"
            >
              10th Oct 2022
            </time>

            <a href="#">
              <h3
                class="mt-0.5 text-lg font-medium text-gray-900 dark:text-white"
              >
                How to center an element using JavaScript and jQuery
              </h3>
            </a>

            <div class="mt-4 flex flex-wrap gap-1">
              <span
                class="whitespace-nowrap rounded-full bg-purple-100 px-2.5 py-0.5 text-xs text-purple-600 dark:bg-purple-600 dark:text-purple-100"
              >
                Snippet
              </span>

              <span
                class="whitespace-nowrap rounded-full bg-purple-100 px-2.5 py-0.5 text-xs text-purple-600 dark:bg-purple-600 dark:text-purple-100"
              >
                JavaScript
              </span>
            </div>
          </div>
        </article>

        <article
          class="hover:animate-background rounded-xl bg-gradient-to-r from-green-300 via-blue-500 to-purple-600 p-0.5 shadow-xl transition hover:bg-[length:400%_400%] hover:shadow-sm hover:[animation-duration:_4s] dark:shadow-gray-700/25"
        >
          <div
            class="rounded-[10px] bg-white p-4 !pt-20 sm:p-6 dark:bg-gray-900"
          >
            <time
              datetime="2022-10-10"
              class="block text-xs text-gray-500 dark:text-gray-400"
            >
              10th Oct 2022
            </time>

            <a href="#">
              <h3
                class="mt-0.5 text-lg font-medium text-gray-900 dark:text-white"
              >
                How to center an element using JavaScript and jQuery
              </h3>
            </a>

            <div class="mt-4 flex flex-wrap gap-1">
              <span
                class="whitespace-nowrap rounded-full bg-purple-100 px-2.5 py-0.5 text-xs text-purple-600 dark:bg-purple-600 dark:text-purple-100"
              >
                Snippet
              </span>

              <span
                class="whitespace-nowrap rounded-full bg-purple-100 px-2.5 py-0.5 text-xs text-purple-600 dark:bg-purple-600 dark:text-purple-100"
              >
                JavaScript
              </span>
            </div>
          </div>
        </article>

        <article
          class="hover:animate-background rounded-xl bg-gradient-to-r from-green-300 via-blue-500 to-purple-600 p-0.5 shadow-xl transition hover:bg-[length:400%_400%] hover:shadow-sm hover:[animation-duration:_4s] dark:shadow-gray-700/25"
        >
          <div
            class="rounded-[10px] bg-white p-4 !pt-20 sm:p-6 dark:bg-gray-900"
          >
            <time
              datetime="2022-10-10"
              class="block text-xs text-gray-500 dark:text-gray-400"
            >
              10th Oct 2022
            </time>

            <a href="#">
              <h3
                class="mt-0.5 text-lg font-medium text-gray-900 dark:text-white"
              >
                How to center an element using JavaScript and jQuery
              </h3>
            </a>

            <div class="mt-4 flex flex-wrap gap-1">
              <span
                class="whitespace-nowrap rounded-full bg-purple-100 px-2.5 py-0.5 text-xs text-purple-600 dark:bg-purple-600 dark:text-purple-100"
              >
                Snippet
              </span>

              <span
                class="whitespace-nowrap rounded-full bg-purple-100 px-2.5 py-0.5 text-xs text-purple-600 dark:bg-purple-600 dark:text-purple-100"
              >
                JavaScript
              </span>
            </div>
          </div>
        </article>

        <!-- More posts... -->
      </div>
    </div>
  </div>
  <p class="mt-2 text-lg leading-8 text-gray-600"></p>

  <%- include('footer', {linear: 'bg-gradient-to-br', from: 'from-slate-950', to: 'to-emerald-900', text: 'text-white'}) %>
</div>
