<% if (theme.time==="Morning") { %>
    <div class=" w-full absolute top-0 bg-gradient-to-b from-blue-500 via-blue-200 to-lime-500 -z-20" style="height: 100vh;">
        <img src="/static/SVG/relaxation.svg" class=" absolute max-w-60 max-h-60 left-[25%] lg:top-2/3 z-50 top-[80%]" alt="">
        <img src="/static/SVG/foire.svg" class=" absolute max-w-60 max-h-60 left-1/2 top-1/2" alt="">
        <img src="/static/SVG/sun/morning.svg" alt="sun's icon" class="sun max-w-60 max-h-60 absolute top-1/4" style="left: 20%;">
    <% } else if (theme.time==="Midday") { %>
        <div class=" w-full absolute top-0 bg-gradient-to-b from-blue-500 via-blue-200 to-lime-500 -z-20" style="height: 100vh;">
            <img src="/static/SVG/relaxation.svg" class=" absolute max-w-60 max-h-60 left-[25%] lg:top-2/3 z-50 top-[80%]" alt="">
            <img src="/static/SVG/foire.svg" class=" absolute max-w-60 max-h-60 left-1/2 top-1/2" alt="">
            <img src="/static/SVG/sun/morning.svg" alt="sun's icon" class="sun max-w-60 max-h-60 absolute top-9" style="left: 50%;">
    <% } else if (theme.time==="Evening")  { %>
        <div class=" w-full absolute top-0 bg-gradient-to-b from-orange-400 via-orange-300 to-lime-800 -z-20" style="height: 100vh;">
            <img src="/static/SVG/evening.svg" alt="sun's icon" class="sun max-w-60 max-h-60 absolute top-9" style="left: 75%;">
            <img src="/static/SVG/inLove.svg" class=" absolute max-w-60 max-h-60 left-[25%] lg:top-2/3 z-50 top-[80%]" alt="">
            <img src="/static/SVG/festivities.svg" class=" absolute max-w-60 max-h-60 left-1/2 top-1/2" alt="">
    <% } else if (theme.time==="Night")  { %>
        <div class=" w-full absolute top-0 bg-gradient-to-b from-slate-950 via-gray-950 to-green-800 -z-20" style="height: 100vh;">
            <img src="/static/SVG/sun/animate-star.svg" alt="tar's icon" class="max-w-60 max-h-60 absolute top-12">
            <img src="/static/SVG/sun/animate-star-variant.svg" alt="tar's icon" class="max-w-60 max-h-60 absolute top-16 right-12">
            <img src="/static/SVG/sun/animate-star.svg" alt="tar's icon" class="max-w-60 max-h-60 absolute top-20 right-1/4">
            <img src="/static/SVG/sun/animate-star.svg" alt="tar's icon" class="max-w-60 max-h-60 absolute top-16 right-2/4">
            <img src="/static/SVG/sun/animate-star-variant.svg" alt="tar's icon" class="max-w-60 max-h-60 absolute top-12 right-[55%]">
            <img src="/static/SVG/sun/animate-star.svg" alt="tar's icon" class="max-w-60 max-h-60 absolute lg:top-1/3 top-36 right-[30%]">
            <img src="/static/SVG/sun/animate-star.svg" alt="tar's icon" class="max-w-60 max-h-60 absolute lg:top-1/3 top-32 left-[47%]">
            <img src="/static/SVG/sun/animate-star-variant.svg" alt="tar's icon" class="max-w-60 max-h-60 absolute top-20 right-[65%]">
            <img src="/static/SVG/sun/animate-star.svg" alt="tar's icon" class="max-w-60 max-h-60 absolute top-12 right-[72%]">
            <img src="/static/SVG/moon/moon.svg" alt="sun's icon" class="sun max-w-60 max-h-60 absolute top-12" style="left: 80%;">
    <% } else { %>
        <div class=" w-full absolute top-0 bg-gradient-to-b from-blue-500 via-blue-200 to-lime-500 -z-20" style="height: 100vh;">
            <img src="/static/SVG/soleil.svg" alt="moon's icon" class="sun max-w-60 max-h-60 absolute top-9" style="left: 30%;">
    <% } %>
    <!-- <img src="/static/SVG/decor1-montagne2.svg" class=" w-96 absolute right-0 bottom-0" alt=""> -->
     <div class=" absolute top-40 left-0 flex justify-between w-full ">
         <div class="flex">
            <img src="/static/SVG/sun/cloud.svg" class="" alt="cloud-icon">
            <img src="/static/SVG/sun/cloud.svg" class=" relative -left-16" alt="cloud-icon">
         </div>

         <div class="flex relative top-10 right-8">
            <img src="/static/SVG/sun/cloud.svg" class="" alt="cloud-icon">
            <img src="/static/SVG/sun/cloud.svg" class=" relative -left-16" alt="cloud-icon">
         </div>
     </div>
</div>