<div
  id="container"
  class="w-full overflow-y-scroll h-full bg-gradient-to-br from-green-400 via-blue-400 to-purple-500 text-white"
> 


<%- include('footer', {linear: 'bg-gradient-to-br', from: 'from-green-400', to: 'via-blue-400 to-purple-500', text: 'text-white', title: 'text-gray-700'}) %>
</div>