<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>DoniGhost</title>
    <link rel="stylesheet" href="/static/all.min.css" />
    <link rel="icon" type="image/svg+xml" href="/static/SVG/gostify.svg" />
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.css"
    />
    <link rel="stylesheet" href="/static/output.css" />
  </head>

  <body>
    <input hidden id="activeInputNav" class="<%= activeIndex %>" />
    <div class="lg:hidden absolute left-2 top-0 z-40">
      <div class="flex flex-col justify-center h-full items-center">
        <h1 class="text-4xl text-bold cookie-regular bg-transparent">
          Gostify
        </h1>
        <img src="/static/SVG/gostify.svg" class="w-12 h-12" alt="" />
      </div>
    </div>
    <nav class="mobile-nav hide">
      <ul class="flex flex-col gap-4 w-full">
        <div class="close-btn absolute right-3">
          <i class="fa-solid fa-xmark fa-lg"></i>
        </div>
        <li
          class="flex items-center font-bold text-red-950 cursor-pointer hover:text-red-950 transition-all"
        >
          <i class="fa-solid fa-ghost mr-3"></i>
          Ghost
        </li>
        <li
          class="flex items-center font-bold cursor-pointer hover:text-red-950 transition-all"
        >
          <i class="fa-solid fa-diagram-project mr-3"></i>
          Projects
        </li>
        <li
          class="flex items-center font-bold cursor-pointer hover:text-red-950 transition-all"
        >
          <i class="fa-solid fa-sack-dollar mr-3"></i>
          Business
        </li>
        <li
          class="flex items-center font-bold cursor-pointer hover:text-red-950 transition-all"
        >
          <i class="fa-solid fa-blog mr-3"></i>
          Blog
        </li>
        <li
          class="flex items-center font-bold cursor-pointer hover:text-red-950 transition-all"
        >
          <i class="fa-solid fa-flask-vial mr-3"></i>
          Tester
        </li>
        <li
          class="flex items-center font-bold cursor-pointer hover:text-red-950 transition-all"
        >
          <i class="fa-solid fa-mug-saucer mr-3"></i>
          Contact
        </li>
      </ul>
    </nav>
    <nav
      class="mobile-nav-icon lg:hidden w-8 bg-transparent fixed right-4 top-4 z-50"
    >
      <div class="w-full">
        <div class="w-full h-1 rounded-xl bg-red-950 mb-1"></div>
        <div class="w-full h-1 rounded-xl bg-red-950 mb-1"></div>
        <div class="w-full h-1 rounded-xl bg-red-950 mb-1"></div>
      </div>
    </nav>
    <nav
      class="default-nav w-full h-20 bg-transparent text-gray-400 lg:flex p-3 items-center justify-between hidden fixed top-0 z-10"
    >
      <div class="flex flex-col p-5 justify-center h-full items-center mt-10">
        <h1 class="text-4xl text-bold cookie-regular bg-transparent">
          Gostify
        </h1>
        <img src="/static/SVG/gostify.svg" class="w-12 h-12" alt="" />
      </div>
      <ul class="flex justify-between w-2/4 items-center pr-20">
        <li
          class="flex items-center font-bold text-red-950 justify-center cursor-pointer hover:text-red-950 transition-all"
        >
          <i class="fa-solid fa-ghost mr-3"></i>
          Ghost
        </li>
        <li
          class="flex items-center font-bold justify-center cursor-pointer hover:text-red-950 transition-all"
        >
          <i class="fa-solid fa-diagram-project mr-3"></i>
          Projects
        </li>
        <li
          class="flex items-center font-bold justify-center cursor-pointer hover:text-red-950 transition-all"
        >
          <i class="fa-solid fa-sack-dollar mr-3"></i>
          Business
        </li>
        <li
          class="flex items-center font-bold justify-center cursor-pointer hover:text-red-950 transition-all"
        >
          <i class="fa-solid fa-blog mr-3"></i>
          Blog
        </li>
        <li
          class="flex items-center font-bold justify-center cursor-pointer hover:text-red-950 transition-all"
        >
          <i class="fa-solid fa-flask-vial mr-3"></i>
          Tester
        </li>
        <li
          class="flex items-center font-bold justify-center cursor-pointer hover:text-red-950 transition-all"
        >
          <i class="fa-solid fa-mug-saucer mr-3"></i>
          Contact
        </li>
      </ul>
    </nav>
  </body>
</html>
