<div class="w-full overflow-y-scroll" style="height: 100vh">
  <%- include('decor1') %>
  <div class="absolute bottom-36 w-full">
    <div class="gap-6 flex items-center w-4/5 mx-auto">
      <h1
        class="time-check text-gray-500 font-bold text-5xl flex-none relative top-6"
      ></h1>
      <div class="p-3">
        <p class="text-gray-500 font-bold">
          <span class=" text-gray-500 font-bold text-9xl relative top-12 italic">"</span>
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Nisi atque
          impedit provident consectetur cupiditate suscipit eos deleniti
          quibusdam iusto voluptatum, tempore vitae laborum hic dolore beatae
          eum est amet repudiandae dicta pariatur, modi sint! Laboriosam
          obcaecati incidunt autem optio ad explicabo esse sit laborum
          inventore. Unde rem dolore odit pariatur!
        </p>
        <p class="text-gray-500 font-bold text-2xl font-mono italic mt-2">
          Author
        </p>
      </div>
    </div>
  </div>
  <div class=" text-gray-500 font-bold absolute right-20 top-40">
    <%= weatherData.city %>
  </div>
  <div class="absolute bottom-3 flex gap-6 right-12">
    <p class="font-bold text-white">By :</p>
    <img 
      src="/static/img/ts.jpg" 
      class="w-10 h-10" 
      alt="type script image" 
    />
    <img
      src="/static/img/tailwind.jpeg"
      class="w-10 h-10"
      alt="tailwind image"
    />
    <img
      src="/static/img/fastify-white.svg"
      class="w-16 h-16"
      alt="fastify image"
    />
  </div>
</div>
