<%- include('components/rawHeader.ejs') %>
<link rel="stylesheet" href="/static/md.css" />
<div class="markdown-content"><%- content %></div>
<div class="max-w-[800px] p-3 bg-gray-950 mx-auto rounded-lg">
  <% if ( typeof requestView === 'undefined' || requestView === false ) { %>
    <%- include('components/comment.ejs', {pointerType: 'post', pointer: id, replies: comments }) %>
  <% } %>
</div>

<script type="module" src="/static/script/md.js"></script>
<script type="module" src="/static/all.min.js"></script>
<script>
  const rawHeaderNav = document.querySelector('#rawHeaderNav');
  const NavCloserBtn = document.querySelector('#NavCloserBtn');
  const rawHeadIcon = document.querySelector('#rawHeadIcon');

  NavCloserBtn.addEventListener('click', (e) => {
    e.preventDefault();
    rawHeaderNav.classList.add('translate-x-[200%]');
  });

  rawHeadIcon.addEventListener('click', (e) => {
    e.preventDefault();
    rawHeaderNav.classList.remove('translate-x-[200%]');
  });
</script>
<%- include('footer', { bg: 'bg-blue-800', text: 'text-white',
title:'text-gray-300',}) %>
