<div
  class="w-full absolute top-0 bg-gradient-to-b from-blue-500 via-blue-200 to-lime-500 -z-20 h-screen"
>
  <img
    src="/static/SVG/soleil.svg"
    alt="moon's icon"
    class="sun max-w-60 max-h-60 absolute top-9"
    style="left: 30%"
  />
  <!-- <img src="/static/SVG/decor1-montagne2.svg" class=" w-96 absolute right-0 bottom-0" alt=""> -->
  <div class="relative top-40 left-0 flex justify-between w-full">
    <div class="flex">
      <img
        src="/static/SVG/sun/cloud.svg"
        class="lg:w-auto w-[8rem]"
        alt="cloud-icon"
      />
      <img
        src="/static/SVG/sun/cloud.svg"
        class="lg:w-auto w-[8rem] relative -left-16"
        alt="cloud-icon"
      />
    </div>

    <div class="relative top-10 right-8 lg:flex hidden">
      <img
        src="/static/SVG/sun/cloud.svg"
        class="lg:w-auto w-[2rem]"
        alt="cloud-icon"
      />
      <img
        src="/static/SVG/sun/cloud.svg"
        class="lg:w-auto w-[2rem] relative -left-16"
        alt="cloud-icon"
      />
    </div>
  </div>
</div>
