<div
  class="w-full absolute top-0 bg-gradient-to-b from-blue-500 via-blue-200 to-lime-500 -z-20 h-screen"
>
  <!-- <img
      src="/static/SVG/relaxation.svg"
      class="absolute max-w-60 max-h-60 left-[25%] lg:top-2/3 z-50 top-[80%]"
      alt=""
    />
    <img
      src="/static/SVG/foire.svg"
      class="absolute max-w-60 max-h-60 left-1/2 top-1/2"
      alt=""
    /> -->
  <img
    src="/static/SVG/sun/morning.svg"
    alt="sun's icon"
    class="sun max-w-60 max-h-60 absolute top-9"
    style="left: 50%"
  />
</div>
