<div
  class="w-full absolute top-0 bg-gradient-to-b from-orange-400 via-orange-300 to-lime-800 -z-20 h-screen"
>
  <img
    src="/static/SVG/evening.svg"
    alt="sun's icon"
    class="sun max-w-60 max-h-60 absolute top-9 right-8"
  />
  <!-- <img
        src="/static/SVG/inLove.svg"
        class="absolute lg:max-w-60 w-32 h-32 lg:max-h-60 left-[25%] lg:top-2/3 z-50 top-[80%]"
        alt=""
      />
      <img
        src="/static/SVG/festivities.svg"
        class="absolute lg:max-w-60 lg:max-h-60 h-32 w-32 lg:left-1/2 left-[25%] top-1/2"
        alt=""
      /> -->
</div>
