<section id="CTA" class="py-20">
  <div class="w-full flex flex-col gap-32">
    <div class="w-[90%] mx-auto flex lg:flex-row flex-col gap-x-3 gap-y-4">
      <h1
        class="lg:text-4xl text-xl text-transparent bg-linear-to-tr font-inter bg-clip-text from-orange-500 to-orange-300 font-bold lg:max-w-[50%]"
      >
        Créez et publiez des articles de blog où vous désirez
      </h1>
      <div class="lg:w-[50%] flex flex-col gap-2">
        <p class="font-nunito">
          Si vous êtes créateur de contenu alors vous êtes au bon endroit.
          Lancez vous en partageant vos aventures, votre savoir ou vos recettes
          avec un large public à travers le monde et pourquoi pas même avec des
          habitués de notre plateforme. En effet cela est possible grâce à la
          solution que nous vous proposons pour vous permettre de créer un blog
          (tout en un) et de le publier sur notre plateforme et sur votre propre
          service ou site web si vous le désirez. vous avez ainsi droit à toute
          une panoplie d'outils pour mener à bien cette mission comme l'IA, les
          analytics et bien d'autres...
        </p>
        <div class="flex gap-4 flex-col lg:flex-row">
          <a
            href="/blog"
            class="bg-orange-500 text-white font-bold py-2 px-4 rounded-lg lg:w-[50%] w-full text-center"
            >Découvrir</a
          >
          <a
            href="/blog"
            class="bg-transparent border-2 border-orange-500 text-orange-500 font-bold py-2 px-4 rounded-lg w-full lg:w-[50%] text-center"
            >En savoir plus</a
          >
        </div>
      </div>
    </div>

    <div class="w-[90%] mx-auto flex lg:flex-row flex-col gap-x-3 gap-y-4">
      <h1
        class="lg:text-4xl text-xl text-transparent bg-linear-to-tr font-inter bg-clip-text from-orange-500 to-orange-300 font-bold lg:max-w-[50%]"
      >
        Nous supportons +30 types de documents en terme de conversion
      </h1>
      <div class="lg:w-[50%] flex flex-col gap-2">
        <p class="font-nunito">
          Notre logiciel de conversion vous permet d'obtenir des résultats
          satisfaisants peu importe l'entrée ou la sortie que vous désirez.
          Gràce à des outils performants nous préservons le format de vos
          documents et leur qualité initiale. Vous pouvez aussi bien choisir de
          les convertir en masse ou utiliser notre API si vous souhaitez
          l'intégrer sur vos propres solutions
        </p>
        <div class="flex gap-4 flex-col lg:flex-row">
          <a
            href="/blog"
            class="bg-orange-500 text-white font-bold py-2 px-4 rounded-lg lg:w-[50%] w-full text-center"
            >Essayer gratuitement</a
          >
        </div>
      </div>
    </div>

    <div class="w-[90%] mx-auto flex lg:flex-row flex-col gap-x-3 gap-y-4">
      <h1
        class="lg:text-4xl text-xl text-transparent bg-linear-to-tr font-inter bg-clip-text from-orange-500 to-orange-300 font-bold lg:max-w-[50%]"
      >
        Tout ce qu'il faut pour booster votre productivité
      </h1>
      <div class="lg:w-[50%] flex flex-col gap-2">
        <p class="font-nunito">
          Ghostify est une plateforme tournée vers la prooductivité. vous
          permettant ainsi de vous inspirer non seulement de contenus d'autres
          utilisateurs mais aussi de bénéficier d'une assistance IA pour vos
          différentes taches tout en prenant compte de vos préférances.
        </p>
      </div>
    </div>

    <div class="w-[90%] mx-auto flex justify-center items-center">
      <div class="flex flex-col gap-2 justify-center items-center min-w-[50%] mx-auto">
        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512" class=" w-[5rem] h-[5rem] fill-orange-400">
          <path
            d="M47.6 300.4L228.3 469.1c7.5 7 17.4 10.9 27.7 10.9s20.2-3.9 27.7-10.9L464.4 300.4c30.4-28.3 47.6-68 47.6-109.5v-5.8c0-69.9-50.5-129.5-119.4-141C347 36.5 300.6 51.4 268 84L256 96 244 84c-32.6-32.6-79-47.5-124.6-39.9C50.5 55.6 0 115.2 0 185.1v5.8c0 41.5 17.2 81.2 47.6 109.5z"
          />
        </svg>
        <h1
          class="lg:text-4xl text-xl w-full text-transparent bg-linear-to-tr font-inter bg-clip-text from-orange-500 to-orange-300 font-bold lg:max-w-[50%]"
        >
          Nous sommes en Open Source
        </h1>
        <%- include('../utils/btn', {link: 'https://github.com/DoniLite/Ghostify', content: 'Voir sur Github', elClass: 'bg-orange-500 text-white w-full'}) %>
      </div>
    </div>
  </div>
</section>
