@import url("https://fonts.googleapis.com/css2?family=Cookie&family=Pacifico&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Anton+SC&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

::-webkit-scrollbar {
  display: none;
}

.cookie-regular {
  font-family: "Cookie", cursive;
  font-weight: 400;
  font-style: normal;
}

.anton-sc-regular {
  font-family: "Anton SC", sans-serif;
  font-weight: 400;
  font-style: normal;
}


.pacifico-regular {
  font-family: "Pacifico", cursive;
  font-weight: 400;
  font-style: normal;
}

.card {
  @apply lg:w-3/4 w-[90%] mx-auto p-2 lg:gap-y-0 gap-y-3 lg:p-4 rounded-lg flex lg:justify-between flex-col lg:flex-row h-auto lg:h-auto items-center bg-emerald-950;
}

.mobile-nav {
  @apply absolute top-0 left-0 w-3/4 p-3 bg-white z-50;
}

.poster-hidden {
  @apply translate-x-full
}

@keyframes showing-nav {
  0% {
    transform: translateX(-80%);
    opacity: 0.2;
  }

  25% {
    transform: translateX(-60%);
    opacity: 0.4;
  }

  50% {
    transform: translateX(-40%);
    opacity: 0.6;
  }

  75% {
    transform: translateX(-20%);
    opacity: 0.8;
  }

  100% {
    transform: translateX(0%);
    opacity: 1;
  }
}

@keyframes hiding-nav {
  0% {
    transform: translateX(0%);
    opacity: 0.8;
  }

  25% {
    transform: translateX(-20%);
    opacity: 0.6;
  }

  50% {
    transform: translateX(-60%);
    opacity: 0.4;
  }

  75% {
    transform: translateX(-80%);
    opacity: 0.2;
  }

  100% {
    transform: translateX(-100%);
    opacity: 0;
  }
}

.hide {
    animation: hiding-nav .2s ease-out forwards;
}
.show {
    animation: showing-nav .2s ease-out forwards;
}


@keyframes showing-reactions {
  0% {
    transform: translateY(80%);
    opacity: 0.2;
  }

  25% {
    transform: translateY(60%);
    opacity: 0.4;
  }

  50% {
    transform: translateY(40%);
    opacity: 0.6;
  }

  75% {
    transform: translateY(20%);
    opacity: 0.8;
  }

  100% {
    transform: translateY(0%);
    opacity: 1;
  }
}

@keyframes hiding-reactions {
  0% {
    transform: translateY(0%);
    opacity: 0.8;
  }

  25% {
    transform: translateY(20%);
    opacity: 0.6;
  }

  50% {
    transform: translateY(60%);
    opacity: 0.4;
  }

  75% {
    transform: translateY(80%);
    opacity: 0.2;
  }

  100% {
    transform: translateY(100%);
    opacity: 0;
  }
}

.hide-reactions {
    animation: hiding-reactions .1s ease-out forwards;
}
.show-reactions {
    animation: showing-reactions .1s ease-out forwards;
}