@import url('https://fonts.googleapis.com/css2?family=Cookie&family=Pacifico&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Anton+SC&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

::-webkit-scrollbar {
  display: none;
}

.cookie-regular {
  font-family: 'Cookie', cursive;
  font-weight: 400;
  font-style: normal;
}

.anton-sc-regular {
  font-family: 'Anton SC', sans-serif;
  font-weight: 400;
  font-style: normal;
}

.pacifico-regular {
  font-family: 'Pacifico', cursive;
  font-weight: 400;
  font-style: normal;
}

.card {
  @apply lg:w-3/4 w-[90%] mx-auto p-2 lg:gap-y-0 gap-y-3 lg:p-4 rounded-lg flex lg:justify-between flex-col lg:flex-row h-auto lg:h-auto items-center bg-emerald-950;
}

.mobile-nav {
  @apply absolute top-0 left-0 w-3/4 p-3 bg-white z-50;
}

.poster-hidden {
  @apply translate-x-full;
}

@keyframes showing-nav {
  0% {
    transform: translateX(-80%);
    opacity: 0.2;
  }

  25% {
    transform: translateX(-60%);
    opacity: 0.4;
  }

  50% {
    transform: translateX(-40%);
    opacity: 0.6;
  }

  75% {
    transform: translateX(-20%);
    opacity: 0.8;
  }

  100% {
    transform: translateX(0%);
    opacity: 1;
  }
}

@keyframes hiding-nav {
  0% {
    transform: translateX(0%);
    opacity: 0.8;
  }

  25% {
    transform: translateX(-20%);
    opacity: 0.6;
  }

  50% {
    transform: translateX(-60%);
    opacity: 0.4;
  }

  75% {
    transform: translateX(-80%);
    opacity: 0.2;
  }

  100% {
    transform: translateX(-100%);
    opacity: 0;
  }
}

.hide {
  animation: hiding-nav 0.2s ease-out forwards;
}
.show {
  animation: showing-nav 0.2s ease-out forwards;
}

@keyframes showing-reactions {
  0% {
    transform: translateY(80%);
    opacity: 0.2;
  }

  25% {
    transform: translateY(60%);
    opacity: 0.4;
  }

  50% {
    transform: translateY(40%);
    opacity: 0.6;
  }

  75% {
    transform: translateY(20%);
    opacity: 0.8;
  }

  100% {
    transform: translateY(0%);
    opacity: 1;
  }
}

@keyframes hiding-reactions {
  0% {
    transform: translateY(0%);
    opacity: 0.8;
  }

  25% {
    transform: translateY(20%);
    opacity: 0.6;
  }

  50% {
    transform: translateY(60%);
    opacity: 0.4;
  }

  75% {
    transform: translateY(80%);
    opacity: 0.2;
  }

  100% {
    transform: translateY(100%);
    opacity: 0;
  }
}

.hide-reactions {
  animation: hiding-reactions 0.1s ease-out forwards;
}
.show-reactions {
  animation: showing-reactions 0.1s ease-out forwards;
}

.wrong-data {
  @apply border border-red-600;
}

.transNotificationShow {
  @apply translate-x-0;
}

.transNotificationHide {
  @apply translate-x-[300%];
}

.transUpdatePanelHide {
  @apply -translate-x-[300%];
}

.triangle-left {
  width: 0;
  height: 0;
  border-top: 50px solid transparent;
  border-right: 100px solid red;
  border-bottom: 50px solid transparent;
}

.triangle-right {
  width: 0;
  height: 0;
  border-top: 50px solid transparent;
  border-left: 100px solid red;
  border-bottom: 50px solid transparent;
}

/* Mode 1 - Gray */
.cv1-mode1-bg1 {
  @apply bg-gray-500;
}
.cv1-mode1-bg2 {
  @apply bg-gray-300;
}
.cv1-mode1-bg3 {
  @apply bg-white;
}
.cv1-mode1-text1 {
  @apply text-gray-900;
}
.cv1-mode1-text2 {
  @apply text-gray-900;
}
.cv1-mode1-text3 {
  @apply text-gray-900;
}
.cv1-mode1-level {
  @apply bg-gray-500;
}

/* Mode 2 - Blue */
.cv1-mode2-bg1 {
  @apply bg-blue-500;
}
.cv1-mode2-bg2 {
  @apply bg-blue-300;
}
.cv1-mode2-bg3 {
  @apply bg-white;
}
.cv1-mode2-text1 {
  @apply text-blue-200;
}
.cv1-mode2-text2 {
  @apply text-blue-700;
}
.cv1-mode2-text3 {
  @apply text-blue-700;
}
.cv1-mode2-level {
  @apply bg-blue-500;
}

/* Mode 3 - Green */
.cv1-mode3-bg1 {
  @apply bg-green-500;
}
.cv1-mode3-bg2 {
  @apply bg-green-300;
}
.cv1-mode3-bg3 {
  @apply bg-white;
}
.cv1-mode3-text1 {
  @apply text-white;
}
.cv1-mode3-text2 {
  @apply text-green-700;
}
.cv1-mode3-text3 {
  @apply text-green-700;
}
.cv1-mode3-level {
  @apply bg-green-500;
}

/* Mode 4 - Purple */
.cv1-mode4-bg1 {
  @apply bg-purple-500;
}
.cv1-mode4-bg2 {
  @apply bg-purple-300;
}
.cv1-mode4-bg3 {
  @apply bg-white;
}
.cv1-mode4-text1 {
  @apply text-white;
}
.cv1-mode4-text2 {
  @apply text-purple-700;
}
.cv1-mode4-text3 {
  @apply text-purple-700;
}
.cv1-mode4-level {
  @apply bg-purple-500;
}

/* Mode 5 - Red */
.cv1-mode5-bg1 {
  @apply bg-red-500;
}
.cv1-mode5-bg2 {
  @apply bg-red-300;
}
.cv1-mode5-bg3 {
  @apply bg-white;
}
.cv1-mode5-text1 {
  @apply text-white;
}
.cv1-mode5-text2 {
  @apply text-red-700;
}
.cv1-mode5-text3 {
  @apply text-red-700;
}
.cv1-mode5-level {
  @apply bg-red-500;
}

/* Mode 6 - Orange */
.cv1-mode6-bg1 {
  @apply bg-orange-500;
}
.cv1-mode6-bg2 {
  @apply bg-orange-300;
}
.cv1-mode6-bg3 {
  @apply bg-white;
}
.cv1-mode6-text1 {
  @apply text-white;
}
.cv1-mode6-text2 {
  @apply text-orange-700;
}
.cv1-mode6-text3 {
  @apply text-orange-700;
}
.cv1-mode6-level {
  @apply bg-orange-500;
}

.cv3-gradient1 {
  @apply from-indigo-500 via-purple-500 to-pink-500 border-indigo-500;
}

.cv3-bg1 {
  @apply bg-white;
}

.cv3-text1 {
  @apply text-neutral-900;
}

.cv3-level1 {
  @apply bg-blue-500;
}

.cv3-gradient2 {
  @apply from-blue-500 via-indigo-500 to-purple-500 border-blue-500;
}

.cv3-bg2 {
  @apply bg-rose-950;
}

.cv3-text2 {
  @apply text-white;
}

.cv3-level2 {
  @apply bg-orange-500;
}

.cv3-gradient3 {
  @apply from-teal-500 via-cyan-500 to-sky-500 border-teal-500;
}

.cv3-text3 {
  @apply text-white;
}

.cv3-bg3 {
  @apply bg-blue-500;
}

.cv3-level3 {
  @apply bg-violet-950;
}

.cv3-gradient4 {
  @apply from-emerald-500 via-green-500 to-lime-500 border-emerald-500;
}

.cv3-bg4 {
  @apply bg-green-950;
}

.cv3-text4 {
  @apply text-white;
}

.cv3-level4 {
  @apply bg-orange-500;
}

.cv3-gradient5 {
  @apply from-amber-500 via-orange-500 to-red-500 border-amber-500;
}

.cv3-bg5 {
  @apply bg-gray-900;
}

.cv3-text5 {
  @apply text-orange-500;
}

.cv3-level5 {
  @apply bg-orange-500;
}

.cv2-mode5-bg1 {
  @apply bg-red-500;
}

.cv2-mode5-text1 {
  @apply text-white;
}

.cv2-mode5-bg2 {
  @apply bg-white;
}

.cv2-mode5-text2 {
  @apply text-gray-600;
}

/* Group 1 - Blue */
.cv2-mode1-bg1 {
  @apply bg-blue-500;
}
.cv2-mode1-text1 {
  @apply text-white;
}
.cv2-mode1-bg2 {
  @apply bg-blue-200;
}
.cv2-mode1-text2 {
  @apply text-blue-700;
}

/* Group 2 - Green */
.cv2-mode2-bg1 {
  @apply bg-green-500;
}
.cv2-mode2-text1 {
  @apply text-white;
}
.cv2-mode2-bg2 {
  @apply bg-green-200;
}
.cv2-mode2-text2 {
  @apply text-green-700;
}

/* Group 3 - Yellow */
.cv2-mode3-bg1 {
  @apply bg-yellow-500;
}
.cv2-mode3-text1 {
  @apply text-gray-800;
}
.cv2-mode3-bg2 {
  @apply bg-yellow-200;
}
.cv2-mode3-text2 {
  @apply text-yellow-700;
}

/* Group 4 - Purple */
.cv2-mode4-bg1 {
  @apply bg-purple-500;
}
.cv2-mode4-text1 {
  @apply text-white;
}
.cv2-mode4-bg2 {
  @apply bg-purple-200;
}
.cv2-mode4-text2 {
  @apply text-purple-700;
}

.dark-body {
  @apply bg-gray-600;
}