<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>CV - NOGBEDZI Yao Messan Mawuena</title>
    <!-- <link rel="stylesheet" href="styles.css"> -->
    <style>
      body {
        font-family: Arial, sans-serif;
        line-height: 1.6;
        margin: 0;
        padding: 0;
        background-color: #f4f4f4;
        color: #333;
      }

      .container {
        max-width: 800px;
        margin: 20px auto;
        padding: 20px;
        background-color: #fff;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
      }

      header {
        @apply flex w-full justify-between;
      }
      .header-meta {
        text-align: center;
        border-bottom: 2px solid #333;
        padding-bottom: 20px;
        margin-bottom: 20px;
      }
      .header-meta h1 {
        margin: 0;
      }

      .header-meta p {
        margin: 5px 0;
      }

      section {
        margin-bottom: 20px;
      }

      section h2 {
        background-color: #333;
        color: #fff;
        padding: 10px;
        margin: 0 -20px;
        text-transform: uppercase;
      }

      section ul {
        list-style-type: none;
        padding: 0;
      }

      section ul li {
        padding: 5px 0;
      }

      h3 {
        color: #333;
        margin-bottom: 10px;
      }

      a {
        color: #333;
        text-decoration: none;
      }

      a:hover {
        text-decoration: underline;
      }
    </style>
  </head>
  <body>
    <div class="container">
      <header>
        <div id="profilPhoto" class=" w-24 h-24">
            <img src="/static/img/random1.png" alt="" class="w-full h-full object-cover">
        </div>
        <div class="header-meta">
          <div class="flex w-full">
            <h1 class="w-[90%]">NOGBEDZI Yao Messan Mawuena</h1>
            <div id="editHeader">
            <i class="fa-regular fa-pen-to-square fa-xl text-gray-950"></i>
          </div>
          </div>
          <p>Residence: Burkina Faso,Bobo-Dioulasso</p>
          <p>
            Email:
            <a href="mailto:nogbedziyaomessan13@gmail.com"
              >nogbedziyaomessan13@gmail.com</a
            >
          </p>
          <p>Projects: https://github.com/DoniLite</p>
          <p>Phone: +226 07224034</p>
        </div>
      </header>
      <section>
        <h2>Web Developer</h2>
        <p>
          Passionate about web development with proficiency in JavaScript and
          Python, I am eager to bring my expertise and enthusiasm for innovation
          to a dynamic team. Skilled in both front-end and back-end projects, I
          am driven by technical challenges and continuous learning.
        </p>
      </section>
      <section>
        <h2>Technical Skills</h2>
        <ul>
          <li>
            <strong>Programming Languages:</strong> JavaScript, TypeScript,
            Python
          </li>
          <li>
            <strong>Frameworks and Libraries:</strong> React, Node.js, Express,
            React Native, Flask
          </li>
          <li><strong>Web Technologies:</strong> HTML5, CSS3, RESTful APIs</li>
          <li><strong>Databases:</strong> MongoDB</li>
          <li><strong>Version Control Tools:</strong> Git, GitHub</li>
          <li>
            <strong>Development Tools:</strong>TailwindCSS, Prisma, Babel,
            ESLint
          </li>
        </ul>
      </section>
      <section>
        <h2>Professional Experience</h2>
        <h3>Freelance Web Developer (3 years)</h3>
        <ul>
          <li>
            Developed interactive web applications using React and Node.js.
          </li>
          <li>Created content management websites with Express and MongoDB.</li>
          <li>Integrated APIs and managed databases.</li>
          <li>Optimized performance and resolved bugs.</li>
        </ul>
      </section>
      <section>
        <h2>Personal Projects</h2>
        <ul>
          <li>
            <strong>Content Management Application:</strong> Developed a content
            management platform using Node.js, Express, and MongoDB.
          </li>
          <li>
            <strong>Interactive Web Application:</strong> Created an interactive
            web application with React to enhance user experience.
          </li>
          <li>
            <strong>Personal Portfolio:</strong> Designed and developed an
            online portfolio to showcase my projects and skills.
          </li>
        </ul>
      </section>
      <section>
        <h2>Education</h2>
        <ul>
          <li><strong>Web Development Certifications</strong> (Mimo dev)</li>
          <li><strong>Advanced JavaScript Certification</strong></li>
          <li><strong>Python for Web Development Certification</strong></li>
        </ul>
      </section>
      <section>
        <h2>Continuous Learning</h2>
        <p>
          Online courses on Udemy for React, Node.js, and Django technologies
        </p>
      </section>
      <section>
        <h2>Languages</h2>
        <ul>
          <li><strong>French:</strong> Fluent</li>
          <li><strong>English:</strong> Intermediate (improving)</li>
        </ul>
      </section>
      <section>
        <h2>Interests</h2>
        <ul>
          <li>Programming and new technologies</li>
          <li>Music and manga</li>
          <li>Learning languages</li>
        </ul>
      </section>
    </div>

