<div class=" lg:w-5/6 w-11/12 mx-auto p-3 text-white bg-gray-950 rounded-lg py-6">
    <div class="setion w-full flex flex-col gap-4" id="<%= id %>">
        <h1 class=" text-white font-bold text-2xl">Head/Entete</h1>
        <input type="text" name="title" placeholder="Title" id="Header" class="text-gray-950 w-11/12 lg:w-3/4 max-sm:mx-auto lg:ml-8 p-2 placeholder:text-gray-950 rounded-sm">
        <textarea name="content" id="meta" placeholder="Saisissez une description alternative pour votre document... Vous pouvez y ajouter du HTML ou du Markdown" class="text-gray-950 lg:ml-6 w-11/12 lg:w-3/4 max-sm:mx-auto p-2 lg:h-36 h-36 placeholder:text-gray-950 rounded-sm"></textarea>
    </div>
</div>