<div class=" lg:w-5/6 w-11/12 mx-auto p-3 flex flex-col text-white bg-gray-950">
    <div class="setion" id="<%= id %>"">
        <h1 class=" text-white font-bold text-3xl">Section #<%= id %></h1>
        <input type="text" name="title" id="sectionTitle<%= id %>">
        <textarea name="content" id="sectionContnt<%= id %>"></textarea>
    </div>
</div>